[submodule "3rd_party/Catch2"]
	path = 3rd_party/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "3rd_party/JUCE"]
	path = 3rd_party/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "3rd_party/concurrentqueue"]
	path = 3rd_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "3rd_party/mdspan"]
	path = 3rd_party/mdspan
	url = https://github.com/kokkos/mdspan
[submodule "3rd_party/benchmark"]
	path = 3rd_party/benchmark
	url = https://github.com/google/benchmark
